/* Hero BG Image */
.hero-bg-image {
    overflow: hidden;
}

.hero-bg-image__image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero-bg-image__content {
    position: relative;
    background-color: #1566A3;
    color: white;
    padding: 1rem;
    max-width: 600px;
}

.hero-bg-image__content p {
    margin: unset;
}

@media only screen and (min-width: 1024px) {
    .hero-bg-image__content {
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-bg-image__content {
        max-width: 700px;
    }
}